# Librerías

In [2]:
import pandas as pd

# Lectura de base de datos (preprocesamiento)

Hago lectura de la base de datos con la función de pandas, ya que hay listas de géneros y de hits, debo leer las comillas "" para leer toda la lista en géneros y hits.

In [3]:
data = pd.read_csv('./spotify_dataset/nodes.csv', quotechar = '"')
data.head()

,spotify_id,name,followers,popularity,genres,chart_hits
0,48WvrUGoijadXXCsGocwM4,Byklubben,1738.0,24,"['nordic house', 'russelater']",['no (3)']
1,4lDiJcOJ2GLCK6p9q5BgfK,Kontra K,1999676.0,72,"['christlicher rap', 'german hip hop']","['at (44)', 'de (111)', 'lu (22)', 'ch (31)', ..."
2,652XIvIBNGg3C0KIGEJWit,Maxim,34596.0,36,[],['de (1)']
3,3dXC1YPbnQPsfHPVkm1ipj,Christopher Martin,249233.0,52,"['dancehall', 'lovers rock', 'modern reggae', ...","['at (1)', 'de (1)']"
4,74terC9ol9zMo8rfzhSOiG,Jakob Hellman,21193.0,39,"['classic swedish pop', 'norrbotten indie', 's...",['se (6)']

Procedo a verificar los tipos de los datos para realizar el respectivo análisis desde cada tipo.

In [4]:
data.dtypes

spotify_id     object
name           object
followers     float64
popularity      int64
genres         object
chart_hits     object
dtype: object

Verifico los valores nulos para reemplazarlos por algún valor válido.

In [5]:
data.isnull().sum()

spotify_id         0
name               4
followers          4
popularity         0
genres             0
chart_hits    136781
dtype: int64

Como se observa, existen valores nulos en los campos: name, followers y chart_hits. Debido a que en chart hits las listas pueden ser vacías para el caso de los artistas que no hayan tenido hits, este valor es "nulo" es válido. Para followers y name se cambian los valores por 0 y 'Unknown' respectivamente.

In [6]:
data['followers'] = data['followers'].fillna(0)
data['name'] = data['name'].fillna('Unknown')
data['chart_hits'] = data['chart_hits'].fillna('[]')

# Análisis de los datos

Top 10 artistas y sus canciones de éxito con más seguidores.
Detalles sobre los artistas y sus canciones de éxito, estas pueden ser promocionadas a usuarios que escuchen música de su mismo género.

In [7]:
top_artist_follower = data.sort_values(by = ['followers', 'popularity'], ascending = False).filter(['name', 'followers', 'chart_hits']).head(n = 10)
top_artist_follower

,name,followers,chart_hits
14198,Ed Sheeran,102156853.0,"['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '..."
17604,Ariana Grande,83045090.0,"['us (81)', 'gb (69)', 'ar (36)', 'au (70)', '..."
18188,Billie Eilish,68407227.0,"['us (46)', 'gb (43)', 'ar (23)', 'au (45)', '..."
18726,Drake,66852536.0,"['us (190)', 'gb (163)', 'ar (18)', 'au (148)'..."
6237,Justin Bieber,65590075.0,"['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '..."
5486,Eminem,59184634.0,"['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a..."
4646,Taylor Swift,58554324.0,"['us (136)', 'gb (115)', 'ar (24)', 'au (110)'..."
14707,Arijit Singh,58523986.0,"['in (45)', 'my (5)', 'sg (2)', 'ae (3)']"
11203,Bad Bunny,55669387.0,"['us (76)', 'gb (1)', 'ar (91)', 'au (2)', 'at..."
17550,BTS,54532917.0,"['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '..."

Top 10 artistas y sus canciones de éxito con menos seguidores. Detalles sobre los artistas con menos seguidores, esto con el fin de promocionar el contenido de estos artistas a los mismos seguidores ya que su contenido no genera impacto en la mayoría de personas.

In [8]:
top_artist_follower_ = data.sort_values(by = ['followers', 'popularity']).filter(['name', 'followers', 'chart_hits']).head(n = 10)
top_artist_follower_

                name  followers  chart_hits
192             Jeff        0.0  ['tr (1)']
214   Christmas Zero        0.0  ['ee (1)']
322  Empress In Road        0.0  ['ee (1)']
340         Oldzzies        0.0  ['ee (1)']
377        Yo Dawg Z        0.0  ['ee (1)']
439    SarahStiltner        0.0  ['ni (5)']
611           Pickal        0.0  ['sk (1)']
636          Ac0osta        0.0  ['ee (1)']
686   Vadims Petrovs        0.0  ['lv (2)']
735       Sambaralla        0.0  ['ee (1)']

Top 10 artistas con mayores índices de popularidad con sus canciones de éxito. Detalles sobre los artistas y sus canciones de éxito, estas pueden ser promocionadas a usuarios que escuchen música de su mismo género.

In [9]:
top_artist_popularity = data.sort_values(by = ['popularity', 'followers'], ascending = False).filter(['name', 'popularity', 'chart_hits']).head(n = 10)
top_artist_popularity

,name,popularity,chart_hits
11203,Bad Bunny,100,"['us (76)', 'gb (1)', 'ar (91)', 'au (2)', 'at..."
18726,Drake,95,"['us (190)', 'gb (163)', 'ar (18)', 'au (148)'..."
4646,Taylor Swift,94,"['us (136)', 'gb (115)', 'ar (24)', 'au (110)'..."
13879,The Weeknd,93,"['us (81)', 'gb (74)', 'ar (23)', 'au (76)', '..."
17550,BTS,91,"['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '..."
16116,Harry Styles,91,"['us (35)', 'gb (35)', 'ar (23)', 'au (35)', '..."
19533,Kanye West,91,"['us (89)', 'gb (84)', 'ar (3)', 'au (81)', 'a..."
14198,Ed Sheeran,90,"['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '..."
6237,Justin Bieber,90,"['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '..."
5486,Eminem,90,"['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a..."

Top 10 artistas con menores índices de popularidad con sus canciones de éxito. Detalles sobre los artistas, no se recomienda realizar publicidad para estos artistas.

In [10]:
top_artist_popularity_ = data.sort_values(by = ['popularity', 'followers']).filter(['name', 'popularity', 'chart_hits']).head(n = 10)
top_artist_popularity_

                name  popularity  chart_hits
192             Jeff           0  ['tr (1)']
214   Christmas Zero           0  ['ee (1)']
322  Empress In Road           0  ['ee (1)']
340         Oldzzies           0  ['ee (1)']
377        Yo Dawg Z           0  ['ee (1)']
439    SarahStiltner           0  ['ni (5)']
611           Pickal           0  ['sk (1)']
636          Ac0osta           0  ['ee (1)']
686   Vadims Petrovs           0  ['lv (2)']
735       Sambaralla           0  ['ee (1)']

Top 10 géneros que son más usados por todos los artistas. Los géneros que la mayoría de artistas usan para sus canciones.

In [11]:
data.groupby('genres').size().sort_values(ascending = False).head(n = 10).iloc[1:]

genres
['v-pop']             157
['dutch hip hop']     124
['amapiano']          110
['k-rap']             109
['pop edm']           105
['indonesian pop']    102
['russelater']         99
['eurovision']         95
['danish hip hop']     94
dtype: int64

Top 10 géneros que tienen más seguidores. Esto se puede usar para promocionar o recomendar estos géneros a todo usuario.

In [12]:
top_genre_follower = data.filter(['genres', 'followers']).groupby('genres').sum().sort_values('followers', ascending=False).head(n = 10)
top_genre_follower

                                                      followers
genres
['desi pop', 'filmi', 'modern bollywood']           245217698.0
['dance pop', 'pop']                                243884264.0
[]                                                  205207269.0
['k-pop', 'k-pop boy group']                        158700804.0
['pop']                                             151385740.0
['dance pop', 'pop', 'post-teen pop', 'uk pop']     149505761.0
['pop', 'uk pop']                                   120092667.0
['latin hip hop', 'reggaeton', 'trap latino']        96290273.0
['latin hip hop', 'reggaeton', 'reggaeton flow'...   95385790.0
['k-pop', 'k-pop girl group']                        92844733.0

Top 10 géneros que tienen menos seguidores. No es recomendable publicitar cada uno de estos géneros.

In [13]:
data.filter(['genres', 'followers']).groupby('genres').sum().sort_values('followers').head(n = 10)

                                  followers
genres
['estonian folk', 'lastelaulud']        1.0
['blues-rock guitar']                   1.0
['bells']                               1.0
['school ensemble']                     1.0
['mahraganat', 'syrian pop']            1.0
['hungarian choir']                     2.0
['glee club']                           2.0
['brass quintet']                       2.0
['organetto']                           2.0
['handbells']                           3.0

Top 10 géneros que tienen más popularidad. Publicitar estos géneros en cada usuario y que a su vez, los usuarios conozcan artistas de estos géneros.

In [14]:
popular_genre = data.filter(['genres', 'popularity']).groupby('genres').mean().sort_values('popularity', ascending=False).head(n = 10)
popular_genre

                                                    popularity
genres
['canadian hip hop', 'canadian pop', 'hip hop',...        95.0
['canadian contemporary r&b', 'canadian pop', '...        93.0
['chicago rap', 'rap']                                    91.0
['canadian pop', 'pop']                                   90.0
['detroit hip hop', 'hip hop', 'rap']                     90.0
['atl hip hop', 'atl trap', 'rap', 'trap']                89.0
['puerto rican pop', 'trap latino']                       89.0
['chicago rap', 'melodic rap']                            89.0
['dfw rap', 'melodic rap', 'rap']                         89.0
['permanent wave', 'pop']                                 88.0

Artistas de interés: Son artistas que requieren de mayor publicidad, estos artistas se obtienen si y solo si, los artistas pertenecen a la lista de top 10 artistas más seguidos y top 10 artistas más populares, de este modo se eligen los artistas y se les otorga mayor publicidad y/o promoción.

In [15]:
interest_artist = pd.merge(top_artist_follower, top_artist_popularity, how='inner', on =['name'])['name']
interest_artist

0       Ed Sheeran
1            Drake
2    Justin Bieber
3           Eminem
4     Taylor Swift
5        Bad Bunny
6              BTS
Name: name, dtype: object

Obtenemos la media de los seguidores y de la popularidad de los artistas de interés para fijar una posible meta e incluso incentivar a los artistas a seguir creciendo.

In [16]:
pd.merge(top_artist_follower, top_artist_popularity, how='inner', on =['name']).mean()

/var/folders/hv/mp9nz7454hn786c4psrvgmvm0000gn/T/ipykernel_3266/2984712449.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  pd.merge(top_artist_follower, top_artist_popularity, how='inner', on =['name']).mean()

followers     6.607725e+07
popularity    9.285714e+01
dtype: float64

Géneros de interés: Son géneros que requieren de mayor publicidad, estos géneros se obtienen si y solo si, los géneros pertenecen a la lista de top 10 géneros más seguidos y top 10 géneros más populares, de este modo se eligen los géneros y se les otorga mayor publicidad y/o promoción. Lastimosamente, no hay géneros de interés, es decir, no existe algún género que esté en ambas listas.

In [17]:
interest_genre = pd.merge(top_genre_follower, popular_genre, how='inner', on =['genres'])
interest_genre

Empty DataFrame
Columns: [followers, popularity]
Index: []

Nombre y número de hits en cada país de los 3 artistas con mayores seguidores de cada genero con mayor número de seguidores. Esto con el fin de promocionar estos artistas a los usuarios que escuchan frecuentemente uno o más géneros de estos.

In [18]:
new_list = top_genre_follower.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans = data.sort_values(['followers', 'popularity'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(ans)

               name                                 chart_hits
14707  Arijit Singh  ['in (45)', 'my (5)', 'sg (2)', 'ae (3)']
10132   Neha Kakkar                                ['in (18)']
9595    A.R. Rahman                      ['in (24)', 'my (3)']
                name                                         chart_hits
17604  Ariana Grande  ['us (81)', 'gb (69)', 'ar (36)', 'au (70)', '...
12307     Bruno Mars  ['us (24)', 'gb (19)', 'ar (12)', 'au (17)', '...
18435     Katy Perry  ['us (16)', 'gb (15)', 'ar (10)', 'au (15)', '...
                 name                                         chart_hits
4148        Jung Kook  ['us (1)', 'ar (1)', 'at (1)', 'bo (1)', 'br (...
6140  Mc Poze do Rodo                              ['br (10)', 'pt (7)']
6355         R. Kelly  ['us (2)', 'gb (2)', 'au (2)', 'be (1)', 'ca (...
             name                                         chart_hits
17550         BTS  ['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '...
413           EXO  ['bg (6)', 'hk (11)', 'id (37)', 'jp (2)', 'lt...
18286  Stray Kids  ['us (1)', 'au (1)', 'at (1)', 'bo (1)', 'bg (...
               name                                         chart_hits
4646   Taylor Swift  ['us (136)', 'gb (115)', 'ar (24)', 'au (110)'...
1568       Maroon 5  ['us (21)', 'gb (15)', 'ar (16)', 'au (17)', '...
16116  Harry Styles  ['us (35)', 'gb (35)', 'ar (23)', 'au (35)', '...
                 name                                         chart_hits
8289     Selena Gomez  ['us (31)', 'gb (16)', 'ar (17)', 'au (16)', '...
280    Camila Cabello  ['us (23)', 'gb (21)', 'ar (18)', 'au (18)', '...
10587     Demi Lovato  ['us (15)', 'gb (10)', 'ar (4)', 'au (8)', 'at...
                name                                         chart_hits
14198     Ed Sheeran  ['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '...
8979   Lewis Capaldi  ['us (4)', 'gb (16)', 'ar (2)', 'au (5)', 'at ...
10782          Birdy  ['us (1)', 'gb (3)', 'ar (1)', 'at (4)', 'be (...
               name                                         chart_hits
1154   Daddy Yankee  ['us (3)', 'gb (1)', 'ar (32)', 'au (1)', 'at ...
12817     Nicky Jam  ['us (4)', 'gb (2)', 'ar (25)', 'au (2)', 'at ...
7897        Farruko  ['us (1)', 'ar (19)', 'at (1)', 'be (3)', 'bo ...
               name                                         chart_hits
14847  Bryant Myers  ['ar (5)', 'bo (5)', 'cl (20)', 'co (10)', 'cr...
11168        Noriel  ['ar (3)', 'bo (4)', 'cl (8)', 'co (4)', 'cr (...
18239  De La Ghetto  ['ar (7)', 'bo (8)', 'bg (1)', 'cl (13)', 'co ...
             name                                         chart_hits
9508    BLACKPINK  ['us (11)', 'gb (8)', 'ar (10)', 'au (13)', 'a...
13943       TWICE  ['us (1)', 'au (2)', 'bo (1)', 'bg (2)', 'ca (...
14129  Red Velvet  ['bg (1)', 'ca (1)', 'hk (12)', 'id (12)', 'jp...

Nombre y número de hits en cada país de los 3 artistas con mayor índice de popularidad de cada genero con mayor número de seguidores. Esto con el fin de promocionar estos artistas a los usuarios que escuchan frecuentemente uno o más géneros de estos.

In [19]:

new_list = top_genre_follower.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans = data.sort_values(['popularity', 'followers'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(ans)

                 name                                 chart_hits
14707    Arijit Singh  ['in (45)', 'my (5)', 'sg (2)', 'ae (3)']
9595      A.R. Rahman                      ['in (24)', 'my (3)']
17440  Shreya Ghoshal                                 ['in (6)']
                name                                         chart_hits
17604  Ariana Grande  ['us (81)', 'gb (69)', 'ar (36)', 'au (70)', '...
10842       Doja Cat  ['us (26)', 'gb (20)', 'ar (8)', 'au (20)', 'a...
12307     Bruno Mars  ['us (24)', 'gb (19)', 'ar (12)', 'au (17)', '...
                   name                                         chart_hits
1938   Chencho Corleone                     ['cl (3)', 'py (1)', 'uy (1)']
68754            Disney                                                 []
4148          Jung Kook  ['us (1)', 'ar (1)', 'at (1)', 'bo (1)', 'br (...
             name                                         chart_hits
17550         BTS  ['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '...
5909    SEVENTEEN  ['hk (9)', 'id (15)', 'jp (15)', 'my (31)', 'p...
18286  Stray Kids  ['us (1)', 'au (1)', 'at (1)', 'bo (1)', 'bg (...
               name                                         chart_hits
4646   Taylor Swift  ['us (136)', 'gb (115)', 'ar (24)', 'au (110)'...
16116  Harry Styles  ['us (35)', 'gb (35)', 'ar (23)', 'au (35)', '...
1568       Maroon 5  ['us (21)', 'gb (15)', 'ar (16)', 'au (17)', '...
                 name                                         chart_hits
8289     Selena Gomez  ['us (31)', 'gb (16)', 'ar (17)', 'au (16)', '...
280    Camila Cabello  ['us (23)', 'gb (21)', 'ar (18)', 'au (18)', '...
10587     Demi Lovato  ['us (15)', 'gb (10)', 'ar (4)', 'au (8)', 'at...
                name                                         chart_hits
14198     Ed Sheeran  ['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '...
8979   Lewis Capaldi  ['us (4)', 'gb (16)', 'ar (2)', 'au (5)', 'at ...
7139      Tate McRae  ['us (7)', 'gb (6)', 'au (8)', 'at (7)', 'be (...
               name                                         chart_hits
1154   Daddy Yankee  ['us (3)', 'gb (1)', 'ar (32)', 'au (1)', 'at ...
7897        Farruko  ['us (1)', 'ar (19)', 'at (1)', 'be (3)', 'bo ...
12817     Nicky Jam  ['us (4)', 'gb (2)', 'ar (25)', 'au (2)', 'at ...
               name                                         chart_hits
18239  De La Ghetto  ['ar (7)', 'bo (8)', 'bg (1)', 'cl (13)', 'co ...
17664    Ñengo Flow  ['cl (3)', 'co (1)', 'do (2)', 'pa (1)', 'es (...
14847  Bryant Myers  ['ar (5)', 'bo (5)', 'cl (20)', 'co (10)', 'cr...
             name                                         chart_hits
9508    BLACKPINK  ['us (11)', 'gb (8)', 'ar (10)', 'au (13)', 'a...
13943       TWICE  ['us (1)', 'au (2)', 'bo (1)', 'bg (2)', 'ca (...
14129  Red Velvet  ['bg (1)', 'ca (1)', 'hk (12)', 'id (12)', 'jp...

Nombre y número de hits en cada país de los 3 artistas de interés de cada genero con mayor número de seguidores. Esto con el fin de promocionar estos artistas a los usuarios que escuchan frecuentemente uno o más géneros de estos con mayor probabilidad a que les gusten.

In [20]:
new_list = top_genre_follower.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans1 = data.sort_values(['followers', 'popularity'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    ans2 = data.sort_values(['popularity', 'followers'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(pd.merge(ans1, ans2, how = 'inner', on = ['name', 'chart_hits']))

           name                                 chart_hits
0  Arijit Singh  ['in (45)', 'my (5)', 'sg (2)', 'ae (3)']
1   A.R. Rahman                      ['in (24)', 'my (3)']
            name                                         chart_hits
0  Ariana Grande  ['us (81)', 'gb (69)', 'ar (36)', 'au (70)', '...
1     Bruno Mars  ['us (24)', 'gb (19)', 'ar (12)', 'au (17)', '...
        name                                         chart_hits
0  Jung Kook  ['us (1)', 'ar (1)', 'at (1)', 'bo (1)', 'br (...
         name                                         chart_hits
0         BTS  ['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '...
1  Stray Kids  ['us (1)', 'au (1)', 'at (1)', 'bo (1)', 'bg (...
           name                                         chart_hits
0  Taylor Swift  ['us (136)', 'gb (115)', 'ar (24)', 'au (110)'...
1      Maroon 5  ['us (21)', 'gb (15)', 'ar (16)', 'au (17)', '...
2  Harry Styles  ['us (35)', 'gb (35)', 'ar (23)', 'au (35)', '...
             name                                         chart_hits
0    Selena Gomez  ['us (31)', 'gb (16)', 'ar (17)', 'au (16)', '...
1  Camila Cabello  ['us (23)', 'gb (21)', 'ar (18)', 'au (18)', '...
2     Demi Lovato  ['us (15)', 'gb (10)', 'ar (4)', 'au (8)', 'at...
            name                                         chart_hits
0     Ed Sheeran  ['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '...
1  Lewis Capaldi  ['us (4)', 'gb (16)', 'ar (2)', 'au (5)', 'at ...
           name                                         chart_hits
0  Daddy Yankee  ['us (3)', 'gb (1)', 'ar (32)', 'au (1)', 'at ...
1     Nicky Jam  ['us (4)', 'gb (2)', 'ar (25)', 'au (2)', 'at ...
2       Farruko  ['us (1)', 'ar (19)', 'at (1)', 'be (3)', 'bo ...
           name                                         chart_hits
0  Bryant Myers  ['ar (5)', 'bo (5)', 'cl (20)', 'co (10)', 'cr...
1  De La Ghetto  ['ar (7)', 'bo (8)', 'bg (1)', 'cl (13)', 'co ...
         name                                         chart_hits
0   BLACKPINK  ['us (11)', 'gb (8)', 'ar (10)', 'au (13)', 'a...
1       TWICE  ['us (1)', 'au (2)', 'bo (1)', 'bg (2)', 'ca (...
2  Red Velvet  ['bg (1)', 'ca (1)', 'hk (12)', 'id (12)', 'jp...

Nombre y número de hits en cada país de los 3 artistas con mayor número de seguidores de cada genero con mayor índice de popularidad. Esto con el fin de promocionar estos artistas a los usuarios que escuchan frecuentemente uno o más géneros de estos.

In [21]:
new_list = popular_genre.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans = data.sort_values(['followers', 'popularity'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(ans)

        name                                         chart_hits
18726  Drake  ['us (190)', 'gb (163)', 'ar (18)', 'au (148)'...
             name                                         chart_hits
13879  The Weeknd  ['us (81)', 'gb (74)', 'ar (23)', 'au (76)', '...
             name                                         chart_hits
19533  Kanye West  ['us (89)', 'gb (84)', 'ar (3)', 'au (81)', 'a...
               name                                         chart_hits
6237  Justin Bieber  ['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '...
        name                                         chart_hits
5486  Eminem  ['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a...
         name                                         chart_hits
273  Lil Baby  ['us (62)', 'gb (16)', 'au (6)', 'at (3)', 'be...
                 name                                         chart_hits
16350  Rauw Alejandro  ['us (3)', 'ar (29)', 'at (1)', 'be (1)', 'bo ...
            name                                         chart_hits
6992  Juice WRLD  ['us (80)', 'gb (50)', 'ar (1)', 'au (48)', 'a...
              name                                         chart_hits
15995  Post Malone  ['us (65)', 'gb (57)', 'ar (7)', 'au (54)', 'a...
          name                                         chart_hits
7527  Coldplay  ['us (18)', 'gb (29)', 'ar (18)', 'au (16)', '...

Nombre y número de hits en cada país de los 3 artistas con mayor índice de popularidad de cada genero con mayor índice de popularidad. Esto con el fin de promocionar estos artistas a los usuarios que escuchan frecuentemente uno o más géneros de estos.

In [22]:
new_list = popular_genre.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans = data.sort_values(['popularity', 'followers'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(ans)

        name                                         chart_hits
18726  Drake  ['us (190)', 'gb (163)', 'ar (18)', 'au (148)'...
             name                                         chart_hits
13879  The Weeknd  ['us (81)', 'gb (74)', 'ar (23)', 'au (76)', '...
             name                                         chart_hits
19533  Kanye West  ['us (89)', 'gb (84)', 'ar (3)', 'au (81)', 'a...
               name                                         chart_hits
6237  Justin Bieber  ['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '...
        name                                         chart_hits
5486  Eminem  ['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a...
         name                                         chart_hits
273  Lil Baby  ['us (62)', 'gb (16)', 'au (6)', 'at (3)', 'be...
                 name                                         chart_hits
16350  Rauw Alejandro  ['us (3)', 'ar (29)', 'at (1)', 'be (1)', 'bo ...
            name                                         chart_hits
6992  Juice WRLD  ['us (80)', 'gb (50)', 'ar (1)', 'au (48)', 'a...
              name                                         chart_hits
15995  Post Malone  ['us (65)', 'gb (57)', 'ar (7)', 'au (54)', 'a...
          name                                         chart_hits
7527  Coldplay  ['us (18)', 'gb (29)', 'ar (18)', 'au (16)', '...

Nombre y número de hits en cada país de los 3 artistas de interés de cada genero con mayor índice de popularidad. Esto con el fin de promocionar estos artistas a los usuarios que escuchan frecuentemente uno o más géneros de estos con mayor probabilidad a que les gusten.

In [23]:
new_list = popular_genre.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans1 = data.sort_values(['followers', 'popularity'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    ans2 = data.sort_values(['popularity', 'followers'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(pd.merge(ans1, ans2, how = 'inner', on = ['name', 'chart_hits']))

    name                                         chart_hits
0  Drake  ['us (190)', 'gb (163)', 'ar (18)', 'au (148)'...
         name                                         chart_hits
0  The Weeknd  ['us (81)', 'gb (74)', 'ar (23)', 'au (76)', '...
         name                                         chart_hits
0  Kanye West  ['us (89)', 'gb (84)', 'ar (3)', 'au (81)', 'a...
            name                                         chart_hits
0  Justin Bieber  ['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '...
     name                                         chart_hits
0  Eminem  ['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a...
       name                                         chart_hits
0  Lil Baby  ['us (62)', 'gb (16)', 'au (6)', 'at (3)', 'be...
             name                                         chart_hits
0  Rauw Alejandro  ['us (3)', 'ar (29)', 'at (1)', 'be (1)', 'bo ...
         name                                         chart_hits
0  Juice WRLD  ['us (80)', 'gb (50)', 'ar (1)', 'au (48)', 'a...
          name                                         chart_hits
0  Post Malone  ['us (65)', 'gb (57)', 'ar (7)', 'au (54)', 'a...
       name                                         chart_hits
0  Coldplay  ['us (18)', 'gb (29)', 'ar (18)', 'au (16)', '...

Obtener los países en donde hubo mayor número de éxitos por cada artista. Esto con el fin de poder promocionar a cada artista en dicho país y obtener mejores resultados de usuarios satisfechos. En caso de que haya un empate entre 2 países, escogera el primero que haya encontrado. (Ajustar n [cantidad de artistas] dependiendo de la necesidad)

In [24]:
def get_country_num(hit):
    flag1 = False
    idx1 = -1
    ans = []
    for i in range(len(hit)):
        if hit[i] == "'" and not flag1:
            flag1 = True
            idx1 = i + 1
        elif hit[i] == "'":
            country, num = tuple(hit[idx1:i].split())
            num = int(num[1:len(num) - 1])
            ans.append((country, num))
            flag1 = False
    return ans

def get_max_value(lst):
    max_val, max_country = 0, ""
    for i in range(len(lst)):
        if max_val < lst[i][1]:
            max_val = lst[i][1]
            max_country = lst[i][0]
    return (max_country, max_val)

func1 = lambda x: get_max_value(get_country_num(x))

best_country_of_hits = data['chart_hits'].apply(func1)
data['best_country_of_hits'] = best_country_of_hits
data.filter(['name', 'best_country_of_hits']).head(n = 10)

                 name best_country_of_hits
0           Byklubben              (no, 3)
1            Kontra K            (de, 111)
2               Maxim              (de, 1)
3  Christopher Martin              (at, 1)
4       Jakob Hellman              (se, 6)
5                Madh              (it, 2)
6               Juice              (se, 4)
7              Nehuda              (fr, 1)
8         VovaZiLvova              (ua, 1)
9         Nata Record              (do, 1)

Artistas que han tenido mayores éxitos en un país en específico, ordenado de mayor a menor. Estos datos pueden usarse para saber la dirección de publicidad en cada país, solo se debe pasar por parametro el país que se requiera.

In [25]:
def match_country(country, best_country_of_hits):
    ans = False
    if country == best_country_of_hits[0]:
        ans = True
    return ans

country_hits_artist = data.loc[data.best_country_of_hits.apply(lambda x: match_country('us', x)) == True]
country_hits_artist.filter(['name', 'best_country_of_hits']).sort_values(by = ['best_country_of_hits'], ascending = False).head(n = 10)

                name best_country_of_hits
18726          Drake            (us, 190)
13163         Future            (us, 158)
4646    Taylor Swift            (us, 136)
19533     Kanye West             (us, 89)
882            Logic             (us, 89)
17604  Ariana Grande             (us, 81)
6992      Juice WRLD             (us, 80)
5486          Eminem             (us, 78)
13730   Trippie Redd             (us, 78)
14389   Lil Uzi Vert             (us, 67)

In [26]:
dic = {}
def get_countries(country):
    global dic
    flag = False
    idx1, idx2 = -1, -1
    for i in range(len(country)):
        if country[i] == "'" and not flag:
            flag = True
            idx1 = i + 1
        elif country[i] == "'":
            flag = False
            idx2 = i
            dic[country[idx1:idx2].split()[0]] = 1

def match_country(country, best_country_of_hits):
    ans = False
    if country == best_country_of_hits[0]:
        ans = True
    return ans

for d in data.chart_hits:
    get_countries(d)

for country in dic:
    country_hits_artist = data.loc[data.best_country_of_hits.apply(lambda x: match_country(country, x)) == True]
    ans = country_hits_artist.filter(['name', 'best_country_of_hits']).sort_values(by = ['best_country_of_hits'], ascending = False).head(n = 10)
    print(ans)

                     name best_country_of_hits
15054                 TIX             (no, 80)
137                  Kygo             (no, 64)
12314            Astrid S             (no, 47)
14079  Hver gang vi møtes             (no, 40)
15822         Alan Walker             (no, 40)
1195    Marcus & Martinus             (no, 34)
18043             Broiler             (no, 33)
206                Matoma             (no, 32)
17640       Morgan Sulele             (no, 30)
1953                Karpe             (no, 28)
                         name best_country_of_hits
14632              RAF Camora             (at, 89)
4092               Bilderbuch             (at, 30)
5961                Yung Hurn             (at, 29)
3795                    Wanda             (at, 29)
10552                DAT ADAM             (at, 24)
15018          Pizzera & Jaus             (at, 19)
10187        Seiler und Speer             (at, 15)
16583             TJ_beastboy             (at, 15)
1290                Jala Brat             (at, 13)
17379  Ferdinand fka Left Boy             (at, 11)
              name best_country_of_hits
7126      Kollegah            (de, 158)
18104  Capital Bra            (de, 139)
15445       Ufo361            (de, 127)
1         Kontra K            (de, 111)
9237       Luciano            (de, 100)
19074     Bonez MC             (de, 81)
18495         Gzuz             (de, 69)
500      KC Rebell             (de, 69)
4957           CRO             (de, 65)
1142       Bushido             (de, 64)
                 name best_country_of_hits
11396          Brooze             (lu, 27)
11923   The FifthGuys              (lu, 5)
8725         Tom Berx              (lu, 4)
11968       Master KG              (lu, 4)
1020            Moksi              (lu, 3)
10853           Troka              (lu, 3)
11509     Chris Burke              (lu, 3)
6943        Wahlstedt              (lu, 3)
6657     Jared Moreno              (lu, 3)
9941   Ragga Smokwiri              (lu, 3)
                 name best_country_of_hits
9923             Azet             (ch, 64)
1147       Lo & Leduc             (ch, 25)
16636  Patent Ochsner             (ch, 15)
5276           Mozzik             (ch, 14)
14177          Pronto             (ch, 12)
6603              Xen             (ch, 11)
12537           Tayna             (ch, 11)
2043   Kelly Clarkson             (ch, 10)
4261     Dhurata Dora              (ch, 9)
5681             Kida              (ch, 8)
                  name best_country_of_hits
17550              BTS            (vn, 148)
10220         RAP VIỆT             (vn, 54)
17750    Sơn Tùng M-TP             (vn, 34)
13723      Bich Phuong             (vn, 29)
9933       Bich Phuong             (vn, 29)
15156           Mỹ Tâm             (vn, 27)
16205             Ngọt             (vn, 24)
8079               Đen             (vn, 23)
10460              Vũ.             (vn, 21)
7298   Hoang Thuy Linh             (vn, 20)
                    name best_country_of_hits
17780           Dree Low             (se, 79)
564              Ant Wan             (se, 69)
14860               Hov1             (se, 65)
9956              Avicii             (se, 61)
16899    Håkan Hellström             (se, 57)
8535   Benjamin Ingrosso             (se, 55)
17067    Veronica Maggio             (se, 54)
1894               Yasin             (se, 52)
10075               Asme             (se, 50)
5119                 Z.E             (se, 49)
                 name best_country_of_hits
8639              Guè             (it, 99)
5310         Gemitaiz             (it, 76)
6204            Lazza             (it, 68)
9763       Emis Killa             (it, 67)
12759           Fedez             (it, 66)
19094  Dark Polo Gang             (it, 62)
14701       Marracash             (it, 61)
1719            Rkomi             (it, 59)
6472            Salmo             (it, 59)
7984       Capo Plaza             (it, 59)
                 name best_country_of_hits
14246             Jul            (fr, 379)
16796          Lacrim            (fr, 117)
18540  Djadja & Dinaz            (fr, 116)
10104          Kaaris            (fr, 111)
18301           Ninho            (fr, 104)
11287             SCH            (fr, 100)
10593            GIMS             (fr, 97)
7606            Niska             (fr, 90)
4210             Vald             (fr, 88)
11745           Booba             (fr, 87)
                name best_country_of_hits
13752        OG Buda             (ua, 47)
14018   MORGENSHTERN             (ua, 46)
7990    MORGENSHTERN             (ua, 46)
14635      Max Korzh             (ua, 36)
752           kizaru             (ua, 36)
17455   SLAVA MARLOW             (ua, 22)
5986    SLAVA MARLOW             (ua, 22)
625    Billie Martin             (ua, 18)
14033     INSTASAMKA             (ua, 17)
3658          KALUSH             (ua, 15)
                 name best_country_of_hits
14983         El Alfa            (do, 122)
5014            Ozuna            (do, 110)
11203       Bad Bunny            (do, 110)
12756        Anuel AA             (do, 94)
2836     Romeo Santos             (do, 74)
12895  Eladio Carrion             (do, 66)
3792         Arcangel             (do, 65)
9456      Myke Towers             (do, 59)
16350  Rauw Alejandro             (do, 49)
17443        Amenazzy             (do, 47)
                  name best_country_of_hits
4991      Antti Tuisku             (fi, 66)
5727             SANNI             (fi, 64)
10320              JVG             (fi, 64)
12994          Pyhimys             (fi, 61)
18906   Mikael Gabriel             (fi, 59)
6061             Cheek             (fi, 50)
17952        Elastinen             (fi, 49)
15774   Robin Packalen             (fi, 46)
15448  Haloo Helsinki!             (fi, 45)
16742           Vesala             (fi, 45)
                 name best_country_of_hits
2830   Taco Hemingway             (pl, 94)
5558          PRO8L3M             (pl, 77)
11421          Bedoes             (pl, 59)
1314           Szpaku             (pl, 55)
423            Białas             (pl, 55)
12731      White 2115             (pl, 53)
1507      Quebonafide             (pl, 51)
11343             Oki             (pl, 49)
307              Kizo             (pl, 49)
9520       SB Maffija             (pl, 46)
                  name best_country_of_hits
10107     Wet Bed Gang             (pt, 32)
1508            Piruka             (pt, 31)
2717     Diogo Piçarra             (pt, 31)
16368          ProfJam             (pt, 30)
6919            Dillaz             (pt, 27)
9296   Richie Campbell             (pt, 25)
1582            Slow J             (pt, 25)
3697           D.A.M.A             (pt, 23)
1488        Pink Floyd             (pt, 22)
16224         Plutonio             (pt, 20)
                   name best_country_of_hits
19143            Mayday             (tw, 64)
3445         Ronghao Li             (tw, 61)
16874            G.E.M.             (tw, 58)
5866             JJ Lin             (tw, 48)
7527           Coldplay             (tw, 48)
7674          Lady Gaga             (tw, 45)
2032           LaLa Hsu             (tw, 44)
12176           TAEYEON             (tw, 44)
1568           Maroon 5             (tw, 43)
7570   The Chainsmokers             (tw, 42)
                        name best_country_of_hits
13943                  TWICE             (jp, 52)
15103               King Gnu             (jp, 43)
10149                 ARASHI             (jp, 42)
228    Official HIGE DANdism             (jp, 39)
15799                 Aimyon             (jp, 38)
166                 HIRAIDAI             (jp, 34)
9772           Kenshi Yonezu             (jp, 32)
10549           Hikaru Utada             (jp, 30)
5316             ONE OK ROCK             (jp, 29)
4772             Mr.Children             (jp, 26)
                name best_country_of_hits
18726          Drake            (us, 190)
13163         Future            (us, 158)
4646    Taylor Swift            (us, 136)
19533     Kanye West             (us, 89)
882            Logic             (us, 89)
17604  Ariana Grande             (us, 81)
6992      Juice WRLD             (us, 80)
5486          Eminem             (us, 78)
13730   Trippie Redd             (us, 78)
14389   Lil Uzi Vert             (us, 67)
                       name best_country_of_hits
3079         D-Block Europe             (gb, 69)
18394            Little Mix             (gb, 52)
13887                  Dave             (gb, 43)
7951               The 1975             (gb, 43)
17115                   KSI             (gb, 41)
15143               Stormzy             (gb, 40)
3091                 Skepta             (gb, 39)
13573         Calvin Harris             (gb, 38)
3921   Bring Me The Horizon             (gb, 33)
7976                  Fredo             (gb, 32)
                            name best_country_of_hits
17546                     Angèle             (be, 31)
5704   Dimitri Vegas & Like Mike             (be, 29)
1749                 Roméo Elvis             (be, 29)
19531           Lost Frequencies             (be, 20)
770                 Zwangere Guy             (be, 20)
11762         Oscar and the Wolf             (be, 19)
19205                       Regi             (be, 19)
3738                          K3             (be, 18)
11464                     Bazart             (be, 17)
5386                Tourist LeMC             (be, 15)
                         name best_country_of_hits
5074               Tory Lanez             (ca, 65)
13543                     NAV             (ca, 58)
19366            Shawn Mendes             (ca, 45)
16122               DJ Khaled             (ca, 44)
9986   A Boogie Wit da Hoodie             (ca, 30)
17672               Lil Tecca             (ca, 23)
5634              Bing Crosby             (ca, 20)
6220                 Lil Tjay             (ca, 19)
18083              Marshmello             (ca, 19)
16572                    Tyga             (ca, 18)
                    name best_country_of_hits
5088   Emperor Peeter 1.             (ee, 71)
10402              Reket             (ee, 61)
15387           5MIINUST             (ee, 33)
11907              nublu             (ee, 28)
12932          Rammstein             (ee, 28)
1317                NOËP             (ee, 26)
10536        Troye Sivan             (ee, 26)
12966     Jüri Pootsmann             (ee, 22)
18447             pluuto             (ee, 20)
15835      villemdrillem             (ee, 19)
                     name best_country_of_hits
16011               JóiPé             (is, 61)
11082            Aron Can             (is, 58)
14289    Herra Hnetusmjör             (is, 55)
5901         Emmsjé Gauti             (is, 50)
10569           Pop Smoke             (is, 49)
16106  Yung Nigo Drippin'             (is, 36)
8278          Joey Christ             (is, 34)
4067               Birnir             (is, 32)
11058         Úlfur Úlfur             (is, 31)
1093          Friðrik Dór             (is, 28)
                 name best_country_of_hits
14198      Ed Sheeran             (ie, 90)
5075     Picture This             (ie, 46)
2943    One Direction             (ie, 44)
466           Beyoncé             (ie, 37)
15174          Hozier             (ie, 31)
10119     Niall Horan             (ie, 28)
4136   Dermot Kennedy             (ie, 27)
8979    Lewis Capaldi             (ie, 22)
17970        Kodaline             (ie, 16)
8871         Westlife             (ie, 14)
                    name best_country_of_hits
12287        Prāta Vētra             (lv, 63)
7177     Imagine Dragons             (lv, 57)
1188                Dons             (lv, 36)
2696      Carnival Youth             (lv, 35)
2657         OneRepublic             (lv, 35)
5731            Lil Peep             (lv, 31)
2120   Singapūras Satīns             (lv, 30)
18951              ansis             (lv, 23)
6920         Instrumenti             (lv, 23)
16687         Egor Kreed             (lv, 23)
                     name best_country_of_hits
13501          OG Version             (lt, 50)
11020          Free Finga             (lt, 40)
18742            Måneskin             (lt, 35)
2479    Lilas ir Innomine             (lt, 33)
5106                 Joji             (lt, 31)
17063      G&G Sindikatas             (lt, 29)
15269            Gorillaz             (lt, 21)
17765       MITCH RECORDS             (lt, 21)
5368   Leon Somov & Jazzu             (lt, 19)
8073                 GJan             (lt, 18)
               name best_country_of_hits
7922           Momo             (sk, 71)
17293          Kali             (sk, 62)
16200         Pil C             (sk, 61)
11682           Ego             (sk, 59)
10606          Gleb             (sk, 54)
4643            DMS             (sk, 53)
2118          Separ             (sk, 52)
14304         Karlo             (sk, 47)
10018  Radikal Chef             (sk, 44)
9815    Majk Spirit             (sk, 39)
                      name best_country_of_hits
2898     Vicente Fernández             (hn, 14)
7316           Menor Menor             (hn, 12)
9425             Lary Over             (hn, 11)
5061   Marco Antonio Solís              (hn, 7)
18550           Kim Loaiza              (hn, 5)
16          Cosmos Insania              (hn, 3)
3501               J Calix              (hn, 3)
15346               JWolfy              (hn, 2)
11174        Steven Pineda              (hn, 2)
17876         Eddy Herrera              (hn, 2)
                  name best_country_of_hits
19075   Kabza De Small             (za, 55)
11596    Summer Walker             (za, 41)
17782          A-Reece             (za, 35)
3908         Burna Boy             (za, 30)
15957          Nasty C             (za, 27)
13603  Cassper Nyovest             (za, 26)
16530     Brent Faiyaz             (za, 23)
8032            Giveon             (za, 23)
10601          Blxckie             (za, 21)
3094        Jhené Aiko             (za, 21)
                    name best_country_of_hits
6910        Marc Anthony             (cr, 11)
18008      Guns N' Roses             (cr, 10)
8002   Cultura Profética             (cr, 10)
13278              KAVVO              (cr, 9)
16822        The Killers              (cr, 6)
9886             GIMARIO              (cr, 6)
8717          Los Ajenos              (cr, 5)
17283          JENCARLOS              (cr, 5)
20           Vybz Kartel              (cr, 3)
18663        Dread Mar I              (cr, 3)
                 name best_country_of_hits
9554             Sech             (pa, 77)
6423          KAROL G             (pa, 35)
8671             Boza             (pa, 34)
18429           Dalex             (pa, 33)
18196           Tachi             (pa, 13)
14432           Yemil             (pa, 11)
8086      Dímelo Flow             (pa, 10)
8557             Akim             (pa, 10)
2122   Rich Music LTD             (pa, 10)
13345  Jennifer Lopez             (pa, 10)
                 name best_country_of_hits
7215           Branco             (dk, 78)
17338            KESI             (dk, 67)
6237    Justin Bieber             (dk, 66)
15097            NODE             (dk, 59)
6936      Artigeardit             (dk, 58)
16328      Benny Jamz             (dk, 58)
1277   Ude Af Kontrol             (dk, 56)
14156           Sivas             (dk, 55)
9583           Carmon             (dk, 53)
3822       Kim Larsen             (dk, 52)
               name best_country_of_hits
13905          Duki             (ar, 76)
5466       Bizarrap             (ar, 50)
11522  Paulo Londra             (ar, 34)
2977            WOS             (ar, 29)
19553    LIT killah             (ar, 28)
10753        Trueno             (ar, 28)
4799   Nicki Nicole             (ar, 27)
8259           TINI             (ar, 26)
3715           KHEA             (ar, 26)
1000    Abel Pintos             (ar, 25)
                 name best_country_of_hits
19151           Flume             (au, 37)
13940   The Kid LAROI             (au, 30)
16389     Tame Impala             (au, 24)
9065     RÜFÜS DU SOL             (au, 20)
1592        Vance Joy             (au, 15)
13574  Sticky Fingers             (au, 15)
16002            P!nk             (au, 15)
821           ONEFOUR             (au, 15)
14418   Guy Sebastian             (au, 12)
7751    Hilltop Hoods             (au, 12)
                     name best_country_of_hits
9190      Sebastian Yatra             (bo, 38)
14754             Piso 21             (bo, 28)
8455                 CNCO             (bo, 25)
14098                Reik             (bo, 20)
17441          Bonny Lovy             (bo, 11)
19144         David Soliz             (bo, 10)
16417         Sofía Reyes              (bo, 9)
7909   Los Ángeles Azules              (bo, 8)
17310           Aerosmith              (bo, 6)
7263         SummerFoster              (bo, 5)
                      name best_country_of_hits
2171    Henrique & Juliano             (br, 87)
11561     Marília Mendonça             (br, 82)
7323        Jorge & Mateus             (br, 74)
765          Gusttavo Lima             (br, 55)
7603                Anitta             (br, 54)
5080       Matheus & Kauan             (br, 53)
17736  Zé Neto & Cristiano             (br, 50)
19324       Wesley Safadão             (br, 45)
19104         Luan Santana             (br, 42)
15305                 Alok             (br, 36)
                       name best_country_of_hits
6086                  V:RGO             (bg, 97)
13879            The Weeknd             (bg, 83)
10295            Boro Purvi             (bg, 35)
8289           Selena Gomez             (bg, 33)
2975                   ZAYN             (bg, 30)
12199                Krisko             (bg, 27)
14459                 Jluch             (bg, 25)
2005   Pavell & Venci Venc'             (bg, 23)
6673                   FYRE             (bg, 22)
1774               Preslava             (bg, 20)
                name best_country_of_hits
1154    Daddy Yankee             (cl, 51)
12255         Yandel             (cl, 30)
6949     Mon Laferte             (cl, 27)
18088          Wisin             (cl, 26)
12195       Brytiago             (cl, 23)
11967           Cami             (cl, 22)
10863  Zion & Lennox             (cl, 21)
6951      Nio Garcia             (cl, 21)
9135     Jay Wheeler             (cl, 19)
15885     Marcianeke             (cl, 19)
                    name best_country_of_hits
18411           J Balvin             (co, 87)
13376             Maluma             (co, 67)
4095                Feid             (co, 65)
14961  Silvestre Dangond             (co, 41)
10035              Morat             (co, 41)
16704       Carlos Vives             (co, 37)
12817          Nicky Jam             (co, 36)
12724       Kevin Roldan             (co, 27)
15859             Camilo             (co, 26)
2068       Manuel Turizo             (co, 25)
                        name best_country_of_hits
13038  Lavrentis Macharitsas             (cy, 10)
13572              Cactusmen              (cy, 8)
17557             SugarBeats              (cy, 5)
8668         London Richards              (cy, 5)
17767                Claydee              (cy, 4)
2407                  Shouse              (cy, 4)
12516                 starRo              (cy, 4)
15336     Fumez The Engineer              (cy, 4)
15408                  Kings              (cy, 4)
235                Scorpions              (cy, 4)
                   name best_country_of_hits
17489        Yzomandias            (cz, 149)
14912      Viktor Sheen             (cz, 69)
18897             Ektor             (cz, 65)
16826         Nik Tendo             (cz, 63)
13808  CA$HANOVA BULHAR             (cz, 60)
18563     Paulie Garand             (cz, 48)
17650  Sergei Barracuda             (cz, 43)
6823         Renne Dang             (cz, 38)
9152              Calin             (cz, 37)
6550        Linkin Park             (cz, 33)
                    name best_country_of_hits