# Librerías

In [164]:
import pandas as pd
import matplotlib as plt

# Lectura de base de datos (preprocesamiento)

Hago lectura de la base de datos con la función de pandas, ya que hay listas de géneros y de hits, debo leer las comillas "" para leer toda la lista en géneros y hits.

In [165]:
data = pd.read_csv('./spotify_dataset/nodes.csv', quotechar = '"')
data.head()

,spotify_id,name,followers,popularity,genres,chart_hits
0,48WvrUGoijadXXCsGocwM4,Byklubben,1738.0,24,"['nordic house', 'russelater']",['no (3)']
1,4lDiJcOJ2GLCK6p9q5BgfK,Kontra K,1999676.0,72,"['christlicher rap', 'german hip hop']","['at (44)', 'de (111)', 'lu (22)', 'ch (31)', ..."
2,652XIvIBNGg3C0KIGEJWit,Maxim,34596.0,36,[],['de (1)']
3,3dXC1YPbnQPsfHPVkm1ipj,Christopher Martin,249233.0,52,"['dancehall', 'lovers rock', 'modern reggae', ...","['at (1)', 'de (1)']"
4,74terC9ol9zMo8rfzhSOiG,Jakob Hellman,21193.0,39,"['classic swedish pop', 'norrbotten indie', 's...",['se (6)']

Procedo a verificar los tipos de los datos para realizar el respectivo análisis desde cada tipo.

In [166]:
data.dtypes

spotify_id     object
name           object
followers     float64
popularity      int64
genres         object
chart_hits     object
dtype: object

Verifico los valores nulos para reemplazarlos por algún valor válido.

In [167]:
data.isnull().sum()

spotify_id         0
name               4
followers          4
popularity         0
genres             0
chart_hits    136781
dtype: int64

Como se observa, existen valores nulos en los campos: name, followers y chart_hits. Debido a que en chart hits las listas pueden ser vacías para el caso de los artistas que no hayan tenido hits, este valor es "nulo" es válido. Para followers y name se cambian los valores por 0 y 'Unknown' respectivamente.

In [168]:
data['followers'] = data['followers'].fillna(0)
data['name'] = data['name'].fillna('Unknown')

# Análisis de los datos

Top 10 artistas y sus canciones de éxito con más seguidores.
Detalles sobre los artistas y sus canciones de éxito, estas pueden ser promocionadas a usuarios que escuchen música de su mismo género.

In [169]:
top_artist_follower = data.sort_values(by = ['followers', 'popularity'], ascending = False).filter(['name', 'followers', 'chart_hits']).head(n = 10)
top_artist_follower

,name,followers,chart_hits
14198,Ed Sheeran,102156853.0,"['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '..."
17604,Ariana Grande,83045090.0,"['us (81)', 'gb (69)', 'ar (36)', 'au (70)', '..."
18188,Billie Eilish,68407227.0,"['us (46)', 'gb (43)', 'ar (23)', 'au (45)', '..."
18726,Drake,66852536.0,"['us (190)', 'gb (163)', 'ar (18)', 'au (148)'..."
6237,Justin Bieber,65590075.0,"['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '..."
5486,Eminem,59184634.0,"['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a..."
4646,Taylor Swift,58554324.0,"['us (136)', 'gb (115)', 'ar (24)', 'au (110)'..."
14707,Arijit Singh,58523986.0,"['in (45)', 'my (5)', 'sg (2)', 'ae (3)']"
11203,Bad Bunny,55669387.0,"['us (76)', 'gb (1)', 'ar (91)', 'au (2)', 'at..."
17550,BTS,54532917.0,"['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '..."

Top 10 artistas y sus canciones de éxito con menos seguidores. Detalles sobre los artistas con menos seguidores, esto con el fin de promocionar el contenido de estos artistas a los mismos seguidores ya que su contenido no genera impacto en la mayoría de personas.

In [170]:
top_artist_follower_ = data.sort_values(by = ['followers', 'popularity']).filter(['name', 'followers', 'chart_hits']).head(n = 10)
top_artist_follower_

                name  followers  chart_hits
192             Jeff        0.0  ['tr (1)']
214   Christmas Zero        0.0  ['ee (1)']
322  Empress In Road        0.0  ['ee (1)']
340         Oldzzies        0.0  ['ee (1)']
377        Yo Dawg Z        0.0  ['ee (1)']
439    SarahStiltner        0.0  ['ni (5)']
611           Pickal        0.0  ['sk (1)']
636          Ac0osta        0.0  ['ee (1)']
686   Vadims Petrovs        0.0  ['lv (2)']
735       Sambaralla        0.0  ['ee (1)']

Top 10 artistas con mayores índices de popularidad con sus canciones de éxito. Detalles sobre los artistas y sus canciones de éxito, estas pueden ser promocionadas a usuarios que escuchen música de su mismo género.

In [171]:
top_artist_popularity = data.sort_values(by = ['popularity', 'followers'], ascending = False).filter(['name', 'popularity', 'chart_hits']).head(n = 10)
top_artist_popularity

,name,popularity,chart_hits
11203,Bad Bunny,100,"['us (76)', 'gb (1)', 'ar (91)', 'au (2)', 'at..."
18726,Drake,95,"['us (190)', 'gb (163)', 'ar (18)', 'au (148)'..."
4646,Taylor Swift,94,"['us (136)', 'gb (115)', 'ar (24)', 'au (110)'..."
13879,The Weeknd,93,"['us (81)', 'gb (74)', 'ar (23)', 'au (76)', '..."
17550,BTS,91,"['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '..."
16116,Harry Styles,91,"['us (35)', 'gb (35)', 'ar (23)', 'au (35)', '..."
19533,Kanye West,91,"['us (89)', 'gb (84)', 'ar (3)', 'au (81)', 'a..."
14198,Ed Sheeran,90,"['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '..."
6237,Justin Bieber,90,"['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '..."
5486,Eminem,90,"['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a..."

Top 10 artistas con menores índices de popularidad con sus canciones de éxito. Detalles sobre los artistas, no se recomienda realizar publicidad para estos artistas.

In [172]:
top_artist_popularity_ = data.sort_values(by = ['popularity', 'followers']).filter(['name', 'popularity', 'chart_hits']).head(n = 10)
top_artist_popularity_

                name  popularity  chart_hits
192             Jeff           0  ['tr (1)']
214   Christmas Zero           0  ['ee (1)']
322  Empress In Road           0  ['ee (1)']
340         Oldzzies           0  ['ee (1)']
377        Yo Dawg Z           0  ['ee (1)']
439    SarahStiltner           0  ['ni (5)']
611           Pickal           0  ['sk (1)']
636          Ac0osta           0  ['ee (1)']
686   Vadims Petrovs           0  ['lv (2)']
735       Sambaralla           0  ['ee (1)']

Top 10 géneros que son más usados por todos los artistas. Los géneros que la mayoría de artistas usan para sus canciones.

In [173]:
data.groupby('genres').size().sort_values(ascending = False).head(n = 10).iloc[1:]

genres
['v-pop']             157
['dutch hip hop']     124
['amapiano']          110
['k-rap']             109
['pop edm']           105
['indonesian pop']    102
['russelater']         99
['eurovision']         95
['danish hip hop']     94
dtype: int64

Top 10 géneros que tienen más seguidores. Esto se puede usar para promocionar o recomendar estos géneros a todo usuario.

In [174]:
top_genre_follower = data.filter(['genres', 'followers']).groupby('genres').sum().sort_values('followers', ascending=False).head(n = 10)
top_genre_follower

                                                      followers
genres
['desi pop', 'filmi', 'modern bollywood']           245217698.0
['dance pop', 'pop']                                243884264.0
[]                                                  205207269.0
['k-pop', 'k-pop boy group']                        158700804.0
['pop']                                             151385740.0
['dance pop', 'pop', 'post-teen pop', 'uk pop']     149505761.0
['pop', 'uk pop']                                   120092667.0
['latin hip hop', 'reggaeton', 'trap latino']        96290273.0
['latin hip hop', 'reggaeton', 'reggaeton flow'...   95385790.0
['k-pop', 'k-pop girl group']                        92844733.0

Top 10 géneros que tienen menos seguidores. No es recomendable publicitar cada uno de estos géneros.

In [175]:
data.filter(['genres', 'followers']).groupby('genres').sum().sort_values('followers').head(n = 10)

                                  followers
genres
['estonian folk', 'lastelaulud']        1.0
['blues-rock guitar']                   1.0
['bells']                               1.0
['school ensemble']                     1.0
['mahraganat', 'syrian pop']            1.0
['hungarian choir']                     2.0
['glee club']                           2.0
['brass quintet']                       2.0
['organetto']                           2.0
['handbells']                           3.0

Top 10 géneros que tienen más popularidad. Publicitar estos géneros en cada usuario y que a su vez, los usuarios conozcan artistas de estos géneros.

In [176]:
popular_genre = data.filter(['genres', 'popularity']).groupby('genres').mean().sort_values('popularity', ascending=False).head(n = 10)
popular_genre

                                                    popularity
genres
['canadian hip hop', 'canadian pop', 'hip hop',...        95.0
['canadian contemporary r&b', 'canadian pop', '...        93.0
['chicago rap', 'rap']                                    91.0
['canadian pop', 'pop']                                   90.0
['detroit hip hop', 'hip hop', 'rap']                     90.0
['atl hip hop', 'atl trap', 'rap', 'trap']                89.0
['puerto rican pop', 'trap latino']                       89.0
['chicago rap', 'melodic rap']                            89.0
['dfw rap', 'melodic rap', 'rap']                         89.0
['permanent wave', 'pop']                                 88.0

Artistas de interés: Son artistas que requieren de mayor publicidad, estos artistas se obtienen si y solo si, los artistas pertenecen a la lista de top 10 artistas más seguidos y top 10 artistas más populares, de este modo se eligen los artistas y se les otorga mayor publicidad y/o promoción.

In [177]:
interest_artist = pd.merge(top_artist_follower, top_artist_popularity, how='inner', on =['name'])['name']
interest_artist

0       Ed Sheeran
1            Drake
2    Justin Bieber
3           Eminem
4     Taylor Swift
5        Bad Bunny
6              BTS
Name: name, dtype: object

Obtenemos la media de los seguidores y de la popularidad de los artistas de interés para fijar una posible meta e incluso incentivar a los artistas a seguir creciendo.

In [178]:
pd.merge(top_artist_follower, top_artist_popularity, how='inner', on =['name']).mean()

/var/folders/hv/mp9nz7454hn786c4psrvgmvm0000gn/T/ipykernel_4474/2984712449.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  pd.merge(top_artist_follower, top_artist_popularity, how='inner', on =['name']).mean()

followers     6.607725e+07
popularity    9.285714e+01
dtype: float64

Géneros de interés: Son géneros que requieren de mayor publicidad, estos géneros se obtienen si y solo si, los géneros pertenecen a la lista de top 10 géneros más seguidos y top 10 géneros más populares, de este modo se eligen los géneros y se les otorga mayor publicidad y/o promoción. Lastimosamente, no hay géneros de interés, es decir, no existe algún género que esté en ambas listas.

In [179]:
interest_genre = pd.merge(top_genre_follower, popular_genre, how='inner', on =['genres'])
interest_genre

Empty DataFrame
Columns: [followers, popularity]
Index: []

Nombre y número de hits en cada país de los 3 artistas con mayores seguidores de cada genero con mayor seguidores. Esto con el fin de promocionar estos artistas a los usuarios que escuchan frecuentemente uno o más géneros de estos.

In [180]:
new_list = top_genre_follower.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans = data.sort_values(['followers', 'popularity'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(ans)

               name                                 chart_hits
14707  Arijit Singh  ['in (45)', 'my (5)', 'sg (2)', 'ae (3)']
10132   Neha Kakkar                                ['in (18)']
9595    A.R. Rahman                      ['in (24)', 'my (3)']
                name                                         chart_hits
17604  Ariana Grande  ['us (81)', 'gb (69)', 'ar (36)', 'au (70)', '...
12307     Bruno Mars  ['us (24)', 'gb (19)', 'ar (12)', 'au (17)', '...
18435     Katy Perry  ['us (16)', 'gb (15)', 'ar (10)', 'au (15)', '...
                 name                                         chart_hits
4148        Jung Kook  ['us (1)', 'ar (1)', 'at (1)', 'bo (1)', 'br (...
6140  Mc Poze do Rodo                              ['br (10)', 'pt (7)']
6355         R. Kelly  ['us (2)', 'gb (2)', 'au (2)', 'be (1)', 'ca (...
             name                                         chart_hits
17550         BTS  ['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '...
413           EXO  ['bg (6)', 'hk (11)', 'id (37)', 'jp (2)', 'lt...
18286  Stray Kids  ['us (1)', 'au (1)', 'at (1)', 'bo (1)', 'bg (...
               name                                         chart_hits
4646   Taylor Swift  ['us (136)', 'gb (115)', 'ar (24)', 'au (110)'...
1568       Maroon 5  ['us (21)', 'gb (15)', 'ar (16)', 'au (17)', '...
16116  Harry Styles  ['us (35)', 'gb (35)', 'ar (23)', 'au (35)', '...
                 name                                         chart_hits
8289     Selena Gomez  ['us (31)', 'gb (16)', 'ar (17)', 'au (16)', '...
280    Camila Cabello  ['us (23)', 'gb (21)', 'ar (18)', 'au (18)', '...
10587     Demi Lovato  ['us (15)', 'gb (10)', 'ar (4)', 'au (8)', 'at...
                name                                         chart_hits
14198     Ed Sheeran  ['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '...
8979   Lewis Capaldi  ['us (4)', 'gb (16)', 'ar (2)', 'au (5)', 'at ...
10782          Birdy  ['us (1)', 'gb (3)', 'ar (1)', 'at (4)', 'be (...
               name                                         chart_hits
1154   Daddy Yankee  ['us (3)', 'gb (1)', 'ar (32)', 'au (1)', 'at ...
12817     Nicky Jam  ['us (4)', 'gb (2)', 'ar (25)', 'au (2)', 'at ...
7897        Farruko  ['us (1)', 'ar (19)', 'at (1)', 'be (3)', 'bo ...
               name                                         chart_hits
14847  Bryant Myers  ['ar (5)', 'bo (5)', 'cl (20)', 'co (10)', 'cr...
11168        Noriel  ['ar (3)', 'bo (4)', 'cl (8)', 'co (4)', 'cr (...
18239  De La Ghetto  ['ar (7)', 'bo (8)', 'bg (1)', 'cl (13)', 'co ...
             name                                         chart_hits
9508    BLACKPINK  ['us (11)', 'gb (8)', 'ar (10)', 'au (13)', 'a...
13943       TWICE  ['us (1)', 'au (2)', 'bo (1)', 'bg (2)', 'ca (...
14129  Red Velvet  ['bg (1)', 'ca (1)', 'hk (12)', 'id (12)', 'jp...

Nombre y número de hits en cada país de los 3 artistas con mayor índice de popularidad de cada genero con mayor seguidores. Esto con el fin de promocionar estos artistas a los usuarios que escuchan frecuentemente uno o más géneros de estos.

In [181]:

new_list = top_genre_follower.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans = data.sort_values(['popularity', 'followers'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(ans)

                 name                                 chart_hits
14707    Arijit Singh  ['in (45)', 'my (5)', 'sg (2)', 'ae (3)']
9595      A.R. Rahman                      ['in (24)', 'my (3)']
17440  Shreya Ghoshal                                 ['in (6)']
                name                                         chart_hits
17604  Ariana Grande  ['us (81)', 'gb (69)', 'ar (36)', 'au (70)', '...
10842       Doja Cat  ['us (26)', 'gb (20)', 'ar (8)', 'au (20)', 'a...
12307     Bruno Mars  ['us (24)', 'gb (19)', 'ar (12)', 'au (17)', '...
                   name                                         chart_hits
1938   Chencho Corleone                     ['cl (3)', 'py (1)', 'uy (1)']
68754            Disney                                                NaN
4148          Jung Kook  ['us (1)', 'ar (1)', 'at (1)', 'bo (1)', 'br (...
             name                                         chart_hits
17550         BTS  ['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '...
5909    SEVENTEEN  ['hk (9)', 'id (15)', 'jp (15)', 'my (31)', 'p...
18286  Stray Kids  ['us (1)', 'au (1)', 'at (1)', 'bo (1)', 'bg (...
               name                                         chart_hits
4646   Taylor Swift  ['us (136)', 'gb (115)', 'ar (24)', 'au (110)'...
16116  Harry Styles  ['us (35)', 'gb (35)', 'ar (23)', 'au (35)', '...
1568       Maroon 5  ['us (21)', 'gb (15)', 'ar (16)', 'au (17)', '...
                 name                                         chart_hits
8289     Selena Gomez  ['us (31)', 'gb (16)', 'ar (17)', 'au (16)', '...
280    Camila Cabello  ['us (23)', 'gb (21)', 'ar (18)', 'au (18)', '...
10587     Demi Lovato  ['us (15)', 'gb (10)', 'ar (4)', 'au (8)', 'at...
                name                                         chart_hits
14198     Ed Sheeran  ['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '...
8979   Lewis Capaldi  ['us (4)', 'gb (16)', 'ar (2)', 'au (5)', 'at ...
7139      Tate McRae  ['us (7)', 'gb (6)', 'au (8)', 'at (7)', 'be (...
               name                                         chart_hits
1154   Daddy Yankee  ['us (3)', 'gb (1)', 'ar (32)', 'au (1)', 'at ...
7897        Farruko  ['us (1)', 'ar (19)', 'at (1)', 'be (3)', 'bo ...
12817     Nicky Jam  ['us (4)', 'gb (2)', 'ar (25)', 'au (2)', 'at ...
               name                                         chart_hits
18239  De La Ghetto  ['ar (7)', 'bo (8)', 'bg (1)', 'cl (13)', 'co ...
17664    Ñengo Flow  ['cl (3)', 'co (1)', 'do (2)', 'pa (1)', 'es (...
14847  Bryant Myers  ['ar (5)', 'bo (5)', 'cl (20)', 'co (10)', 'cr...
             name                                         chart_hits
9508    BLACKPINK  ['us (11)', 'gb (8)', 'ar (10)', 'au (13)', 'a...
13943       TWICE  ['us (1)', 'au (2)', 'bo (1)', 'bg (2)', 'ca (...
14129  Red Velvet  ['bg (1)', 'ca (1)', 'hk (12)', 'id (12)', 'jp...

Nombre y número de hits en cada país de los 3 artistas de interés de cada genero con mayor seguidores. Esto con el fin de promocionar estos artistas a los usuarios que escuchan frecuentemente uno o más géneros de estos con mayor probabilidad a que les gusten.

In [182]:
new_list = top_genre_follower.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans1 = data.sort_values(['followers', 'popularity'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    ans2 = data.sort_values(['popularity', 'followers'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(pd.merge(ans1, ans2, how = 'inner', on = ['name', 'chart_hits']))

           name                                 chart_hits
0  Arijit Singh  ['in (45)', 'my (5)', 'sg (2)', 'ae (3)']
1   A.R. Rahman                      ['in (24)', 'my (3)']
            name                                         chart_hits
0  Ariana Grande  ['us (81)', 'gb (69)', 'ar (36)', 'au (70)', '...
1     Bruno Mars  ['us (24)', 'gb (19)', 'ar (12)', 'au (17)', '...
        name                                         chart_hits
0  Jung Kook  ['us (1)', 'ar (1)', 'at (1)', 'bo (1)', 'br (...
         name                                         chart_hits
0         BTS  ['us (55)', 'gb (32)', 'ar (30)', 'au (32)', '...
1  Stray Kids  ['us (1)', 'au (1)', 'at (1)', 'bo (1)', 'bg (...
           name                                         chart_hits
0  Taylor Swift  ['us (136)', 'gb (115)', 'ar (24)', 'au (110)'...
1      Maroon 5  ['us (21)', 'gb (15)', 'ar (16)', 'au (17)', '...
2  Harry Styles  ['us (35)', 'gb (35)', 'ar (23)', 'au (35)', '...
             name                                         chart_hits
0    Selena Gomez  ['us (31)', 'gb (16)', 'ar (17)', 'au (16)', '...
1  Camila Cabello  ['us (23)', 'gb (21)', 'ar (18)', 'au (18)', '...
2     Demi Lovato  ['us (15)', 'gb (10)', 'ar (4)', 'au (8)', 'at...
            name                                         chart_hits
0     Ed Sheeran  ['us (52)', 'gb (83)', 'ar (36)', 'au (65)', '...
1  Lewis Capaldi  ['us (4)', 'gb (16)', 'ar (2)', 'au (5)', 'at ...
           name                                         chart_hits
0  Daddy Yankee  ['us (3)', 'gb (1)', 'ar (32)', 'au (1)', 'at ...
1     Nicky Jam  ['us (4)', 'gb (2)', 'ar (25)', 'au (2)', 'at ...
2       Farruko  ['us (1)', 'ar (19)', 'at (1)', 'be (3)', 'bo ...
           name                                         chart_hits
0  Bryant Myers  ['ar (5)', 'bo (5)', 'cl (20)', 'co (10)', 'cr...
1  De La Ghetto  ['ar (7)', 'bo (8)', 'bg (1)', 'cl (13)', 'co ...
         name                                         chart_hits
0   BLACKPINK  ['us (11)', 'gb (8)', 'ar (10)', 'au (13)', 'a...
1       TWICE  ['us (1)', 'au (2)', 'bo (1)', 'bg (2)', 'ca (...
2  Red Velvet  ['bg (1)', 'ca (1)', 'hk (12)', 'id (12)', 'jp...

In [183]:
new_list = popular_genre.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans = data.sort_values(['followers', 'popularity'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(ans)

        name                                         chart_hits
18726  Drake  ['us (190)', 'gb (163)', 'ar (18)', 'au (148)'...
             name                                         chart_hits
13879  The Weeknd  ['us (81)', 'gb (74)', 'ar (23)', 'au (76)', '...
             name                                         chart_hits
19533  Kanye West  ['us (89)', 'gb (84)', 'ar (3)', 'au (81)', 'a...
               name                                         chart_hits
6237  Justin Bieber  ['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '...
        name                                         chart_hits
5486  Eminem  ['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a...
         name                                         chart_hits
273  Lil Baby  ['us (62)', 'gb (16)', 'au (6)', 'at (3)', 'be...
                 name                                         chart_hits
16350  Rauw Alejandro  ['us (3)', 'ar (29)', 'at (1)', 'be (1)', 'bo ...
            name                                         chart_hits
6992  Juice WRLD  ['us (80)', 'gb (50)', 'ar (1)', 'au (48)', 'a...
              name                                         chart_hits
15995  Post Malone  ['us (65)', 'gb (57)', 'ar (7)', 'au (54)', 'a...
          name                                         chart_hits
7527  Coldplay  ['us (18)', 'gb (29)', 'ar (18)', 'au (16)', '...

In [184]:
new_list = popular_genre.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans = data.sort_values(['popularity', 'followers'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(ans)

        name                                         chart_hits
18726  Drake  ['us (190)', 'gb (163)', 'ar (18)', 'au (148)'...
             name                                         chart_hits
13879  The Weeknd  ['us (81)', 'gb (74)', 'ar (23)', 'au (76)', '...
             name                                         chart_hits
19533  Kanye West  ['us (89)', 'gb (84)', 'ar (3)', 'au (81)', 'a...
               name                                         chart_hits
6237  Justin Bieber  ['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '...
        name                                         chart_hits
5486  Eminem  ['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a...
         name                                         chart_hits
273  Lil Baby  ['us (62)', 'gb (16)', 'au (6)', 'at (3)', 'be...
                 name                                         chart_hits
16350  Rauw Alejandro  ['us (3)', 'ar (29)', 'at (1)', 'be (1)', 'bo ...
            name                                         chart_hits
6992  Juice WRLD  ['us (80)', 'gb (50)', 'ar (1)', 'au (48)', 'a...
              name                                         chart_hits
15995  Post Malone  ['us (65)', 'gb (57)', 'ar (7)', 'au (54)', 'a...
          name                                         chart_hits
7527  Coldplay  ['us (18)', 'gb (29)', 'ar (18)', 'au (16)', '...

In [185]:
new_list = popular_genre.filter(['genres'])
for i in range(len(new_list)):
    genre = new_list.iloc[i].name
    ans1 = data.sort_values(['followers', 'popularity'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    ans2 = data.sort_values(['popularity', 'followers'], ascending = False).loc[data.genres == genre].head(n = 3).filter(['name', 'chart_hits'])
    print(pd.merge(ans1, ans2, how = 'inner', on = ['name', 'chart_hits']))

    name                                         chart_hits
0  Drake  ['us (190)', 'gb (163)', 'ar (18)', 'au (148)'...
         name                                         chart_hits
0  The Weeknd  ['us (81)', 'gb (74)', 'ar (23)', 'au (76)', '...
         name                                         chart_hits
0  Kanye West  ['us (89)', 'gb (84)', 'ar (3)', 'au (81)', 'a...
            name                                         chart_hits
0  Justin Bieber  ['us (58)', 'gb (51)', 'ar (29)', 'au (54)', '...
     name                                         chart_hits
0  Eminem  ['us (78)', 'gb (72)', 'ar (7)', 'au (64)', 'a...
       name                                         chart_hits
0  Lil Baby  ['us (62)', 'gb (16)', 'au (6)', 'at (3)', 'be...
             name                                         chart_hits
0  Rauw Alejandro  ['us (3)', 'ar (29)', 'at (1)', 'be (1)', 'bo ...
         name                                         chart_hits
0  Juice WRLD  ['us (80)', 'gb (50)', 'ar (1)', 'au (48)', 'a...
          name                                         chart_hits
0  Post Malone  ['us (65)', 'gb (57)', 'ar (7)', 'au (54)', 'a...
       name                                         chart_hits
0  Coldplay  ['us (18)', 'gb (29)', 'ar (18)', 'au (16)', '...